section{
    font-family: 'Times New Roman', Times, serif; 
    font-weight: lighter;
    background-color: #FFD9DA;
    border: solid #2712E0 5px;
    margin: 10vh 20vw; 
    padding: 10vh 10vw; 
    border-radius: 8px; 
}

button{
    border-radius: 7px;
    border: .25px solid black ;
    padding: 1vh 3vw; 
    float: right; 
    margin-top: 1vh;
    color: #e8eaed ;
    background-color: #C7996B;
}

h1{ 
    color: black; 
    font-size: 200;
    font-weight: lighter;
}


button:hover{
    border: black solid 2px;
}

#flex{
    display: flex;
}

div{
    border: 1px solid black; 
    margin-left: 1vw;
}

.flexitem{
    flex-grow: 1; 
}

.flexitem2{
    flex-grow: 4; 
}