
  
  /*importing special font*/ 
  
  @font-face {
  font-family:  myfirstfont; 
  src: url(assets/NHaasGroteskTXPro-55Rg.ttf)
  }

body{
    background-color: #F7F4E3; 
    font-family: myfirstfont;
    font-weight: 500;
}


a:link{
    color: #001FCC;
}
a:visited{
    color: #6f85ff99;  /* how do i reset visited field */ 
}
a:hover{
    color: #02147b;
}

button{
    background-color: #F4FF7A;
    border: none;
    font-size: 16px;
    padding: 6px;
    border-radius: 10px;
   
}