
  
  /*importing special font*/ 
  @font-face {
  font-family:  myfirstfont; 
  src: url(assets/NHaasGroteskTXPro-55Rg.ttf)
  }

body{
    background-color: #F7F4E3; 
    font-family: myfirstfont;
}


#mytitle {
    font-family: myfirstfont;  
    font-size: 35px;
    padding: 5px 3px 0px 0px;
}


.headers {
    font-family: "Inconsalata"; 
    margin: 0px 10000px 10px 10px;  
    font-size: 17px;
    }
/* for font weight, try to specifcally target the header tag(s) because
the sections already have so much stuff  */


#who{
    border: solid #48f1ab 6px; 
}

#goals{
    border: solid #DEA903 6px
}

#pastwork{
    border: solid #ACB9FF 6px; 
}
hr{
 color: #E1E0E1;
}


p{
    margin: 0px 950px 0px 10px; 
    font-size: 13px;
}

ul{
    margin: 0px 950px 0px -10px; 
    font-size: 13px; 
}


#links { font-size: 18px }
a:link { color: #001FCC; }
a:visited { color: #6f85ff99;  /* "reset" visited field by force refreshing */ } 
a:hover { color: #02147b; }



button{
    background-color: #F4FF7A;
    border: 1px solid #A0A37C;
    font-size: 13px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 7px 15px 1px #CFCAD6;
    transition-duration: 0.3s;
}


button:hover {
    background-color: #D7E639; 
  }

