/* //QUINN  */


h1{
    /* color: #C05AA4; */
    margin: 50px 10px 20px 3vw; 
}


body{
    background-image: url("assets/hammerhead.jpg");
    background-size: 10%;

}

.grid-container{
    /* border: 1px solid black;  */
    display: grid; 
    margin: 20px 3vw 10vw 3vw;
    padding: 0px;
    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 30vw);  
}

.grid-container > figure { 
    /* border: 1px solid blue; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.grid-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}